<h1>Employees Listing</h1>

<button routerLink="/employee-add">Add</button>

<table>
  <tr>
    <th>_id</th>
    <th>fname</th>
    <th>lname</th>
    <th>email</th>
    <th>address</th>
    <th>zipcode</th>
    <th>city</th>
    <th>contact</th>
    <th>NIF</th>
    <th>salary</th>
    <th>activityState</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let employee of employees">
    <td>
      <a routerLink="/employee-details/{{ employee._id }}">{{
        employee._id
      }}</a>
    </td>
    <td>{{ employee.fname }}</td>
    <td>{{ employee.lname }}</td>
    <td>{{ employee.email }}</td>
    <td>{{ employee.address }}</td>
    <td>{{ employee.zipcode }}</td>
    <td>{{ employee.city }}</td>
    <td>{{ employee.contact }}</td>
    <td>{{ employee.NIF }}</td>
    <td>{{ employee.salary }}</td>
    <td>{{ employee.activityState }}</td>
    <td>
      <button routerLink="/employee-edit/{{ employee._id }}">update</button>
    </td>
    <td><button (click)="deleteEmployee(employee._id)">delete</button></td>
  </tr>
</table>
