<div class="container">
  <h1>Transaction Add</h1>

  <div>
    <label
      >Transaction Date:
      <input [(ngModel)]="transactionData.date" placeholder="data" disabled /> </label
    ><br />
    <label>Transaction Sender: <input value="{{ sender.fname }}" disabled /> </label
    ><br />
    <label>Transaction Receiver: <input value="{{ receiver.fname }}" disabled /> </label
    ><br />
    <label>Transaction Books: <input *ngFor="let book of books" value="{{ book.title }}" disabled /> </label><br />
    <label>Transaction TotalPrice: <input value="{{ totalPrice }}" disabled/> </label
    ><br />
    <div class="button-display">
      <button class="button" routerLink="/">Home</button>
      <button class="button" (click)="addTransaction()">Add</button>
    </div>
  </div>
</div>
