<div class="container">
  <h1>Employee Add</h1>
  <div>
    <label
      >First Name:
      <input
        [(ngModel)]="employeeData.fname"
        placeholder="Employee fname"
      /> </label
    ><br />
    <label
      >Last Name:
      <input
        [(ngModel)]="employeeData.lname"
        placeholder="Employee lname"
      /> </label
    ><br />
    <label
      >Email:
      <input
        [(ngModel)]="employeeData.email"
        placeholder="Employee email"
      /> </label
    ><br />

    <label
      >PassWord
      <input [(ngModel)]="employeeData.password" type="password" placeholder="password" /> </label
    ><br />

    <label
      >Address:
      <input
        [(ngModel)]="employeeData.address"
        placeholder="Employee address"
      /> </label
    ><br />
    <label
      >Zipcode:
      <input
        [(ngModel)]="employeeData.zipcode"
        placeholder="Employee zipcode"
      /> </label
    ><br />
    <label
      >City:
      <input [(ngModel)]="employeeData.city" placeholder="Employee city" /> </label
    ><br />
    <label
      >Contact:
      <input
        [(ngModel)]="employeeData.contact"
        placeholder="Employee contact"
      /> </label
    ><br />
    <label
      >NIF:
      <input [(ngModel)]="employeeData.NIF" placeholder="Employee NIF" /> </label
    ><br />
    <label
      >Salary:
      <input type="number"
        [(ngModel)]="employeeData.salary"
        placeholder="Employee salary"
      /> </label
    ><br />
    <label
      >Status:
      <select
        [(ngModel)]="employeeData.activityState"
        placeholder="Client activityState"
      >
        <option value="ACTIVE">Active</option>
        <option value="NOTACTIVE">not Active</option>
      </select> </label
    ><br />
  </div>
  <div class="button-display">
  <button class="button" routerLink="/employees">Home</button>
  <button class="button" (click)="addEmployee()">Save</button>
</div>
</div>
