<div class="container">
  <h1>Clients Listing</h1>

  <button routerLink="/cliente-add" class="button">Add</button>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>email</th>
        <th>Tel</th>
        <th>NIF</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>
          <a routerLink="/cliente-details/{{ cliente._id }}">{{
            cliente._id
          }}</a>
        </td>
        <td>{{ cliente.fname }} {{ cliente.lname }}</td>
        <td>{{ cliente.email }}</td>
        <td>{{ cliente.contact }}</td>
        <td>{{ cliente.NIF }}</td>
        <td>{{ cliente.activityState }}</td>
        <td>
          <button routerLink="/cliente-edit/{{ cliente._id }}">update</button>
        </td>
        <td><button (click)="deleteCliente(cliente._id)">delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
